html {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p,
.MuiTypography-root,
h1.MuiTypography-root,
div,
a,
div.MuiContainer-root,
label {
  color: #5497a7;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.auth {
  background-color: rgba(151, 181, 184, 0.781);
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
}
h2.MuiTypography-root,
svg.MuiSvgIcon-root,
span.MuiTabs-indicator,
span.MuiTouchRipple-root {
  color: #e1f2fe;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
.MuiToolbar-root {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-color: #50858b;
}

.MuiContainer-root,
div.MuiBox-root,
div.css-0 {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #5497a7;
  border-radius: 1rem;
}

button.MuiButton-root {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #5497a7;
  background-color: #444054;
  margin: 0.25rem;
}

h5.MuiTypography-root,
h6.MuiTypography-root,
span.MuiTypography-body1,
legend.MuiFormLabel-root,
label.MuiFormLabel-root,
svg.MuiSvgIcon-root,
input.MuiOutlinedInput-input {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #444054;
}

div.profileheading {
  padding: 2rem;
  margin: auto;
}
Button.profilebutton {
  margin: auto;
  padding: 0.5rem;
}

Container.timesheet {
  background-color: #444054;
  max-width: 50vw;
  max-height: 50vh;
}

div.MuiPaper-root {
  margin: auto;
  padding: 1rem;
}

button.MuiButtonBase-root {
  color: #e1f2fe;
  border-color: #e1f2fe;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

button.MuiButtonBase-root:hover {
  color: #444054;
}

.home {
  display: flex;
  flex-direction: column;
}

h1.title {
  font-size: 6vw;
  color: #e1f2fe;
  text-shadow: 5px 5px 10px #444054;
  width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.background-video {
  position: fixed;
  width: 100%;
}
